/**************/
/* Filter Bar */
/**************/
.filter_bar {
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	float: left;
	overflow: hidden;
	padding: 10px;
	width: 200px;
}

.skin-hydradark .filter_bar {
	background-color: #303030;
	color: #fff;
}

.filter_bar > form {
	overflow: hidden;
}

.filter_bar form fieldset > * {
	box-sizing: border-box;
	display: inline-block;
	margin: 4px 0;
	width: 100%;
}

.filter_bar form fieldset > label, .filter_bar form fieldset > .named_filter {
	margin-top: 12px;
}

.filter_bar form fieldset > label, .filter_bar .slider_range {
	line-height: 1em;
}

.filter_bar .ui-slider .ui-slider-range {
	background: orange none repeat scroll 0 0;
}

.filter_bar form fieldset .ui-slider-horizontal {
	box-sizing: initial;
	margin-left: 0.6em;
	width: calc(100% - 1.2em);
}

.filter_bar fieldset {
	display: block;
	margin: 0;
	padding: 0;
	border: 0 none;
}

.filter_bar .ui-slider .value {
	color: #000;
	display: block;
	font-family: Verdana,Arial,sans-serif;
	font-size: 10px;
	font-weight: normal;
	left: 50%;
	margin: 0 0 0 -20px;
	position: absolute;
	text-align: center;
	top: 12px;
	width: 40px;
}

.skin-hydradark .filter_bar .ui-slider .value {
	color: #fff;
}

.filter_bar .ui-slider .price-range-both.value {
	margin: 0 0 0 -50px;
	top: 12px;
	width: 100px;
}

.filter_bar .ui-slider .price-range-both {
	display: none;
}

.filter_bar .named_filter > ul {
	list-style: outside none none;
	margin: 0;
}

.filter_bar .named_filter input {
	margin-left: 0;
}

.filter_bar form fieldset > label, .filter_bar .named_filter > span {
	font-weight: bold;
}

.filter_bar a.mw-ui-button {
	line-height: 1.2em;
}

/*********************/
/* Subscription List */
/*********************/
#subscription_list {
	margin-left: 200px;
	padding: 0 10px;
}

#subscription_list table {
	border-collapse: separate;
	border-spacing: 0 4px;
	padding: 0;
	width: 100%;
}

#subscription_list table tr {
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color: #000;
	overflow: hidden;
}

#subscription_list table th {
	padding: 0 4px;
}

.skin-hydradark #subscription_list table tr {
	background-color: #303030;
	color: #fff;
}

#subscription_list table tr td {
	border-color: #ddd;
	border-image: none;
	border-style: solid;
	border-width: 0 1px 0 0;
	padding: 10px;
}

.skin-hydradark #subscription_list table tr td {
	border-color: #000;
}

#subscription_list table tr td:last-child {
	border-width: 0;
}

#subscription_list table .active {
	text-align: center;
}

#subscription_list .pagination:first-child {
	margin-top: 0;
}

#subscription_list .pagination:last-child {
	margin-bottom: 0;
}